WebMVC/Connected Services/WCFMecanicos/Mecanicos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTMecanicos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TMecanicos" nillable="true" type="tns:TMecanicos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTMecanicos" nillable="true" type="tns:ArrayOfTMecanicos" />
  <xs:complexType name="TMecanicos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Primer_Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Primer_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segundo_Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segundo_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Documento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TMecanicos" nillable="true" type="tns:TMecanicos" />
</xs:schema>